<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sce.findjobproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcherjobnew"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcherjobnew_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FIndJobProject"
        tools:targetApi="31">
        <activity
            android:name=".AdminComments"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sce.findjobproject.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ViewCvsApplys"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Spinner"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewAllFiles"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpLoadPDF"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignIn"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>